* {
    margin: 0;
    padding: 0;
}

html {
    background: url(Images/darkScratchesBG.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "mainTitleFont";
    font-size: 2vw;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

@font-face {
    font-family: "mainTitleFont";
    src: url("../Resources/Fonts/PFDinTextCondPro-Regular.ttf") format('truetype');
}


/*Page Body */
.main {
    width: 100%;
    height: 100vh; 
    display: inline-flex;
    
}

.main h1 {
    text-align: center;
}

p {
    cursor: default;
}

/* COLUMNS */
.col1, .col2, .col3 {
    display: flex;
    flex-direction: column;
    color: white;
    border: solid white;
    width: 33%;
    height: 95vh; /* vh - viewport height - 50vh = 50% of viewport height. */
    margin: 1%;
    align-self: stretch;
}


/* COLUMN ONE */
/* SCROLL BAR */
.col1 {   
    overflow-x: hidden; 
    overflow-y: auto;
} 


/*CONTENT INSIDE*/


.col1 header {
    padding-left: 1vw;
    cursor: pointer;
}

.monsterList div {
    border: solid white; 
    margin: 1%;
    width: 95%;
}


.display  {
    display: none;
} 


.icon {
    max-height: 3.5vw;
    max-width: 3.5vw;
    float: left; 
    padding-right: 0.5vw;
}  

.expan-logo {
    max-height: 8vw;
    max-width: 8vw;
    float: right; 
    padding-right: 0.5vw;
    padding-top: 0.7vw;
}

.beastContent, .cursedContent, .dracoContent, .eleContent, .hybContent, .insectContent, .necroContent, .ogroContent, .relicContent, .specContent, .vampContent {
    overflow: hidden;
    font-size: 1.5vw;
    cursor: pointer;
}

.beastContent p, .cursedContent p, .dracoContent p, .eleContent p, .hybContent p, .insectContent p, .necroContent p, .ogroContent p, .relicContent p, .specContent p, .vampContent p {
    display: inline-block;
}

header p { /* ARROW HEAD POINTING */
    float: right;
    padding-right: 0.5vw;
}

/* COLUMN TWO */



.image-container {
    display: flex;
    /* color: white;
    border: solid white; */
    height: 75vh;
    width: 120%;
    align-self: center;
    justify-content: center;
}

#monster {
    max-width: 100%;
    height:auto; 
    z-index: 1;
}

.items-container {
    color: white;
    border: solid white;
    height: 12vh;
    width: 75%;
    align-self: center;
    font-size: 1.5vw;
    text-align: center;
    overflow: hidden;
}

#items img {
    color: white;
    border: solid white; 
    display: inline-flex;
    max-height: 8vw;
    max-width: 8vw;
    margin-top: 0.2vw;
}


/* COLUMN THREE */

.col3 header, .info {
    display: flex;
    color: white;
    border: solid white; 
    width: 95%;
    align-self: center;
}

.col3 header {
    font-size: 1.5vw;
    margin-top: 1vw;
}

#info {
    height: 80vh;
    display: block;
    font-size: 1.2vw;
    overflow-x: hidden; 
    overflow-y: auto;
}

.col3 p, .col3 i {
    margin: 0.5vw;
}

br {
    content: "";
} 


