* {
    margin: 0;
    padding: 0;
}

html {
    background: url(Images/darkScratchesBG.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "mainTitleFont";
    font-size: 2vw;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

@font-face {
    font-family: "mainTitleFont";
    src: url("../Resources/Fonts/PFDinTextCondPro-Regular.ttf") format('truetype');
}


/*Page Body */
.main {
    width: 100%;
    height: 100vh; 
    display: inline-flex;
    
}

.main h1 {
    text-align: center;
}

p {
    cursor: default;
}

/* COLUMNS */
.col1, .col2, .col3 {
    display: flex;
    flex-direction: column;
    color: white;
    border: solid;
    width: 33%;
    height: 95vh; /* vh - viewport height - 50vh = 50% of viewport height. */
    margin: 1%;
    align-self: stretch;
}


/* COLUMN ONE */
/* SCROLL BAR */
.col1 { 
    /*  
    overflow-x: hidden; 
    overflow-y: auto; */
    border-image-source: url(./Images/brown1-fade.png);
    border-image-slice: 1100;
    border-image-width: 100;
    padding-top: 0.2vh;
} 




::-webkit-scrollbar {
    width: 0.5vw;
} 
  
/* Track */
::-webkit-scrollbar-track {
    width: 6px;
    border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(116, 84, 53);
    border-radius: 6px;
} 
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 51, 32);
} 



/*CONTENT INSIDE*/


.col1 header {
    padding-left: 1vw;
    cursor: pointer;
}

.list-container {
    border: transparent;
    height: 100%;
    margin: 3%;
    overflow-x: hidden; 
    overflow-y: auto;
    padding: 0 0.2vw;
}

.monsterList div {
    border: solid rgb(116, 84, 53); 
    border-style: none;
    background-color: rgba(8, 8, 8, 0.3);
    margin: 0.2%;
    
}

.beastTitle div, .cursedTitle div, .dracoTitle div, .eleTitle div, .hybTitle div, .insectTitle div, .necroTitle div, .ogroTitle div, .relicTitle div, .specTitle div, .vampTitle div {
    background: -moz-linear-gradient(left,  rgba(116, 84, 53,0.65) 0%, rgba(0,0,0,0.65) 7%, rgba(0,0,0,0) 64%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(116, 84, 53,0.65) 0%,rgba(0,0,0,0.65) 7%,rgba(0,0,0,0) 64%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(116, 84, 53,0.65) 0%,rgba(0,0,0,0.65) 7%,rgba(0,0,0,0) 64%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-top: 0.1vw;
}

.display  {
    display: none;
} 


.icon {
    max-height: 3.5vw;
    max-width: 3.5vw;
    float: left; 
    padding-right: 0.5vw;
}  

.expan-logo {
    max-height: 8vw;
    max-width: 8vw;
    float: right; 
    padding-right: 0.5vw;
    padding-top: 0.7vw;
}

.beastContent, .cursedContent, .dracoContent, .eleContent, .hybContent, .insectContent, .necroContent, .ogroContent, .relicContent, .specContent, .vampContent {
    overflow: hidden;
    font-size: 1.5vw;
    cursor: pointer;
}

.beastContent p, .cursedContent p, .dracoContent p, .eleContent p, .hybContent p, .insectContent p, .necroContent p, .ogroContent p, .relicContent p, .specContent p, .vampContent p {
    display: inline-block;
    cursor: pointer;
}

header p { /* ARROW HEAD POINTING */
    float: right;
    padding-right: 0.5vw;
}

/* COLUMN TWO */

.col2 {
    border: none;
}

.image-container {
    display: flex;
    height: 75vh;
    width: 120%;
    align-self: center;
    justify-content: center;
}

#monster {
    max-width: 100%;
    height:auto; 
    z-index: 1;
}

.items-container {
    border: solid; 
    height: 12vh;
    width: 75%;
    align-self: center;
    font-size: 1.5vw;
    text-align: center;
    overflow: hidden;
    border-image-source: url(./Images/brown1.png);
    border-image-slice: 700;
    border-image-width: 100;
}

#items img {
    border: solid; 
    display: inline-flex;
    max-height: 8vw;
    max-width: 8vw;
    margin-top: 0.2vw;
    border-image-source: url(./Images/border-thin-brown.png);
    border-image-slice: 400;
    border-image-width: 100;
}


/* COLUMN THREE */

.col3 {
    border-image-source: url(./Images/brown1-fade.png);
    border-image-slice: 1100;
    border-image-width: 100;
}


.col3 header, .info {
    display: flex;
    color: white;
    border: solid white; 
    width: 95%;
    align-self: center;
    border-image-source: url(./Images/brown1.png);
    border-image-slice: 300;
    border-image-width: 100;
}

.col3 header {
    font-size: 1.5vw;
    margin-top: 8%;
}

#info {
    height: 80vh;
    display: block;
    font-size: 1.2vw;
    overflow-x: hidden; 
    overflow-y: auto;
    padding-left: 1vw;
}

.col3 p, .col3 i {
    margin: 0.5vw 1vw;
}

br {
    content: "";
} 


